# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# OS / IDE
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# Audio files
*.wav
*.mp3

# Project specific
voicetyping.pid
config.json
